<style>
    #alleCoZnalazloDIV {
        left: 0px;
    }

    #allternatywaDIV {
        right: 0px;
    }


    #mainAlleCoImage {
        width:300px;
        height: 100px;
    }
    #searchInputMy {
        border: 3px solid green;
        margin: auto;
        width: 95% !important;
        height: 40px;
    }

    #searchButton {
        border: 3px solid #2b2f49;
        margin: auto;
        width: 90% !important;
        height: 40px;
    }
    .nopadding {
        padding: 0 !important;
        margin: 0 !important;
    }
    .alleCenterImageDiv {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }

    .alleImage {
        height:40px;
    }

    .hrBreakLine {
        border: 2px solid #f38148;
    }

    #alleCoZnalazloTopicDIV {
        height: 64px;
    }

    #allternatywaTopicDIV {
        
    }

    .akucjaAleCoZnalazloDescription{

    }

    /*.akucjaAleCoZnalazloImages {
           width: 64px;
           height: 64px;
    }

    .akucjaAllternatywaImages {
        width: 64px;
           height: 64px;
    }*/

    .akucjaAllternatywaDescription {

    }
    
</style>
<!-- Wyszukiwanie-->
    <div class="row">
        <div class="col-lg-4" id="mainAlleCoImage">
            <img src="~/images/alternativesearch/u3.png" id="mainAlleCoImage" />
        </div>
        <div class="col-lg-6 .nopadding">
            <div style="padding-top:33px;">
                <input type="text" id="searchInputMy" class="form-control"  placeholder="Szukasz...?" >
            </div>
        </div>
        <div class="col-lg-2 .nopadding" style="padding-top:33px;">            
            <button type="button" class="btn btn-default" id="searchButton">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
        </div>
    </div>

    <hr class="hrBreakLine"/>
<!-- Koniec Wyszukiwanie-->

<!-- Nazwy gridów-->
<div style="padding-top:5%">
    <div class="row">
        <div class="col-lg-8 alleCoZnalazloDIV">
            <div class="alleCenterImageDiv" id="alleCoZnalazloTopicDIV">
                <img src="~/images/allternatywa/alecoznalazloExpanded.png" class="alleImage" id="imageAleCoZnalazlo" />
            </div>
        </div>
        <div class="col-lg-4 allternatywaDIV">
            <div class="alleCenterImageDiv" id="allternatywaTopicDIV">
                <img src="~/images/allternatywa/aleternatywaCollapsed.png" class="alleImage" id="imageAllternatywa" />
            </div>
        </div>

    </div>
</div>
<!-- Koniec Nazwy gridów-->

<!-- Aukcje-->
<div class="row" style="padding-top:50px;">
    <div class="col-lg-8 alleCoZnalazloDIV">
        <div>
            <div class="container">
                <div class="row" style="padding-top:5px;">
                    <div class="col-lg-7">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Nazwa akucji</h4>
                                <p class="akucjaAleCoZnalazloDescription">Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis </p>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="col-lg-4 allternatywaDIV" style="background-color:red; height:500px;">
        <div>
            <div class="container">
                <div class="row" style="padding-top:5px;">
                    <div class="col-lg-7">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Nazwa akucji</h4>
                                <p class="akucjaAllternatywaDescription">Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
          
<!-- Koniec Aukcje-->

            @section scripts
            {
                    <script>
                        var canResizeAlleCoDiv;
                        var carResizeAllternatywaDiv;
                        $(function () {
                            $("#imageAleCoZnalazlo").click(function () {                               
                                hideAlleImages();
                                $(".akucjaAllternatywaDescription").fadeOut();
                                    $("#imageAleCoZnalazlo").attr("src", "../images/allternatywa/alecoznalazloCollapsed.png");
                                    $(".alleCoZnalazloDIV").animate({ width: '760px' }, 500);
                                    $(".allternatywaDIV").animate({ width: '380px' }, 500);    
                                    $("#imageAllternatywa").attr("src", "../images/allternatywa/aleternatywaExpanded.png");
                                    $(".akucjaAleCoZnalazloDescription").fadeIn();
                                    showAlleImages();                                
                            });

                            $("#imageAllternatywa").click(function () {                                
                                hideAlleImages();                                
                                $(".akucjaAleCoZnalazloDescription").fadeOut();
                                $("#imageAllternatywa").attr("src", "../images/allternatywa/alejaknazwacCollapsed.png");
                                    $(".alleCoZnalazloDIV").animate({ width: '380px' }, 500);
                                    $(".allternatywaDIV").animate({ width: '760px' }, 500);
                                    $("#imageAleCoZnalazlo").attr("src", "../images/allternatywa/alecoznalazloExpanded.png");
                                    $(".akucjaAllternatywaDescription").fadeIn();
                                    showAlleImages();
                            });

                            $("#searchButton").click(function () {
                                hideAlleImages();
                                $(".akucjaAllternatywaDescription").fadeOut();
                                $(".alleCoZnalazloDIV").animate({ width: '760px' }, 500);
                                $(".allternatywaDIV").animate({ width: '380px' }, 500);
                                $(".akucjaAleCoZnalazloDescription").fadeIn();
                                showAlleImages();
                            });
                            
                        })

                        function hideAlleImages()
                        {
                            $("#alleCoZnalazloTopicDIV").fadeOut();
                            $("#allternatywaTopicDIV").fadeOut();
                        }

                        function showAlleImages()
                        {
                            $("#alleCoZnalazloTopicDIV").fadeIn();
                            $("#allternatywaTopicDIV").fadeIn();
                        }
                    </script>
                }



