<style>
    #alleCoZnalazloDIV {
        left: 0px;
    }

    #allternatywaDIV {
        right: 0px;
    }


    #mainAlleCoImage {
        width: 300px;
        height: 100px;
    }

    #searchInputMy {
        border: 3px solid green;
        margin: auto;
        width: 95% !important;
        height: 40px;
    }

    #searchButton {
        border: 3px solid #2b2f49;
        margin: auto;
        width: 90% !important;
        height: 40px;
    }

    .nopadding {
        padding: 0 !important;
        margin: 0 !important;
    }

    .alleCenterImageDiv {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }

    .alleImage {
        height: 40px;
    }

    .hrBreakLine {
        border: 2px solid #f38148;
    }

    #alleCoZnalazloTopicDIV {
        height: 64px;
    }

    #allternatywaTopicDIV {
    }

    .akucjaAleCoZnalazloDescription {
    }

    .akucjaAleCoZnalazloImages{
           width: 84px;
           height: 84px;
    }

    .akucjaAllternatywaImages{
        width: 64px;
        height: 64px;
    }

    .akucjaAllternatywaDescription {
    }
</style>
<!-- Wyszukiwanie-->
<div class="row">
    <div class="col-lg-4" id="mainAlleCoImage">
        <img src="~/images/alternativesearch/u3.png" id="mainAlleCoImage" />
    </div>
    <div class="col-lg-6 .nopadding">
        <div style="padding-top:33px;">
            <input type="text" id="searchInputMy" class="form-control" placeholder="Szukasz...?">
        </div>
    </div>
    <div class="col-lg-2 .nopadding" style="padding-top:33px;">
        <button type="button" class="btn btn-default" id="searchButton">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
    </div>
</div>

<hr class="hrBreakLine" />
<div id="tagDiv" class="container">
    <div class="row" id="tagDivResult">

    </div>
</div>

<hr class="hrBreakLine" />
    <!-- Koniec Wyszukiwanie-->
    <!-- Nazwy gridów-->
    <div style="padding-top:5%">
        <div class="row">
            <div class="col-lg-8 alleCoZnalazloDIV">
                <div class="alleCenterImageDiv" id="alleCoZnalazloTopicDIV">
                    <img src="~/images/allternatywa/alecoznalazloExpanded.png" class="alleImage" id="imageAleCoZnalazlo" />
                </div>
            </div>
            <div class="col-lg-4 allternatywaDIV">
                <div class="alleCenterImageDiv" id="allternatywaTopicDIV">
                    <img src="~/images/allternatywa/aleternatywaCollapsed.png" class="alleImage" id="imageAllternatywa" />
                </div>
            </div>

        </div>
    </div>
    <!-- Koniec Nazwy gridów-->

    <!-- Aukcje-->
    <div class="row" style="padding-top:50px;">
        <div class="col-lg-8 alleCoZnalazloDIV">
            <div id="alleCoZnalazoloResultDIV">

            </div>
        </div>
        <div class="col-lg-4 allternatywaDIV" style="background-color:red; height:500px;">
            <div>
                <div class="container">
                    <div class="row" style="padding-top:5px;">
                        <div class="col-lg-7">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Nazwa akucji</h4>
                                    <p class="akucjaAllternatywaDescription">Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis Opis </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Koniec Aukcje-->

    @section scripts
            {
        <script>
            $(function () {
                $("#imageAleCoZnalazlo").click(function () {
                    hideAlleImages();
                    $(".akucjaAllternatywaDescription").fadeOut();
                    $("#imageAleCoZnalazlo").attr("src", "../images/allternatywa/alecoznalazloCollapsed.png");
                    $(".alleCoZnalazloDIV").animate({ width: '760px' }, 500);
                    $(".allternatywaDIV").animate({ width: '380px' }, 500);
                    $("#imageAllternatywa").attr("src", "../images/allternatywa/aleternatywaExpanded.png");
                    $(".akucjaAleCoZnalazloDescription").fadeIn();
                    showAlleImages();
                });

                $("#imageAllternatywa").click(function () {
                    hideAlleImages();
                    $(".akucjaAleCoZnalazloDescription").fadeOut();
                    $("#imageAllternatywa").attr("src", "../images/allternatywa/alejaknazwacCollapsed.png");
                    $(".alleCoZnalazloDIV").animate({ width: '380px' }, 500);
                    $(".allternatywaDIV").animate({ width: '760px' }, 500);
                    $("#imageAleCoZnalazlo").attr("src", "../images/allternatywa/alecoznalazloExpanded.png");
                    $(".akucjaAllternatywaDescription").fadeIn();
                    showAlleImages();
                });

                $("#searchButton").click(function () {
                    hideAlleImages();
                    $("#tagDiv").fadeOut();
                    $(".akucjaAllternatywaDescription").fadeOut();
                    $(".alleCoZnalazloDIV").animate({ width: '760px' }, 500);
                    $(".allternatywaDIV").animate({ width: '380px' }, 500);
                    $(".akucjaAleCoZnalazloDescription").fadeIn();
                    showAlleImages();
                });

            })

            function hideAlleImages() {
                $("#alleCoZnalazloTopicDIV").fadeOut();
                $("#allternatywaTopicDIV").fadeOut();
            }

            function showAlleImages() {
                $("#alleCoZnalazloTopicDIV").fadeIn();
                $("#allternatywaTopicDIV").fadeIn();
            }

            $(function () {
                $("#searchButton").click(function () {
                    searchOffers($('#searchInputMy').val());
                });
            });

            function searchOffers(title) {
                var url = "http://localhost:60235/api/search?";
                url = url + "title=null";
                url = url + "&phrase=" + title;
                // url = url + "&parameters;
                $.getJSON(url, function (data) {
                   
                    $("#alleCoZnalazoloResultDIV").html("");

                    $(data).each(function (iterator, value) {
                        $("#alleCoZnalazoloResultDIV").append('<div class="container"> <div class="row" style= "padding-top:5px;" > <div class="col-lg-7"> <div class="media"> <div class="media-left">  <a href="#"> <img class="media-object akucjaAleCoZnalazloImages" src=" ' + value.photoUrl + '" alt="...">  </a> </div> <div class="media-body"> <h4 class="media-heading">' + value.name + '</h4> <p class="akucjaAleCoZnalazloDescription"> Kup teraz ' + value.buyNowPrice + '</p>  </div>  </div>  </div>  </div> </div>')
                    });


                    $.getJSON("http://localhost:60235/api/search/GetFilterForOffer?id=" + data[0].id, function (data2) {                      
                         $("#tagDivResult").html("");
                         $('#tagDiv').fadeIn();
                         $(data2).each(function (iterator, value) {
                             if(value.values.length != 0)
                                 {
                                    console.log(value);
                                    $("#tagDivResult").append('<div class="col-lg-3"> <input class="tagAtrribute" onchange="changeTagValues();" type="checkbox" id='+ value.values[0].key + 'name=' + value.values[0].value +' checked>' + value.name + '</input> </div>'  );
                                 }

               
                                });
                });
                        });
                }


            function changeTagValues()
            {
                  var filters = [];
                $('.tagAtrribute checked').each(function(i, obj) {
                    filters.push({ parameterName: obj.id, parameterValue: obj.name });

                    });
                JSON.stringify(filters);

                var allternativeUrl = "http://localhost:60235/api/search?"
                allternativeUrl = allternativeUrl + "phrase=" + $('#searchInputMy').val() + "&parameters=" + JSON.stringify(filters);

                 $.getJSON(allternativeUrl, function (data3) {
                                        console.log(data3);
                                    });
            }

                        //function searchOffers(title) {
                        //    var url = "http://localhost:60235/api/search?";
                        //    url = url + "title=null";
                        //    url = url + "&phrase=" + title;
                        //    $.getJSON(url, function (data) {
                        //        $.getJSON("http://localhost:60235/api/search/GetFilterForOffer?id=" + data[0].id, function (data2) {
                        //            console.log(data2);

                        //            var url2 = "http://localhost:60235/api/search?";
                        //            var notTitle = title.split(" ");
                        //            nt = "";
                        //            $(notTitle).each(function (i, v) {
                        //                nt = i == 1 ? " " : "" + "-" + v;
                        //            });
                        //            //url2 = url2 + "phrase=" + nt;
                        //            var filters = [];
                        //            $(data2).each(function (i, v) {
                        //                if (v.values.length > 0) {
                        //                    filters[i-1] = {
                        //                        parameterName: v.values[0].key,
                        //                        parameterValue: v.values[0].value
                        //                    };
                        //                }
                        //            });
                        //            filters.push({ parameterName: "price_from", parameterValue: "0" });
                        //            filters.push({ parameterName: "price_to", parameterValue: "99999999999999999999999" });
                        //            url2 = url2 + "&parameters=" + JSON.stringify(filters);
                        //            console.log(url2);
                        //            $.getJSON(url2, function (data3) {
                        //                console.log(data3);
                        //            })
                        //        });
                        //    });
                        //}
                    </script>
                }
                    
                   



