<style>
    #alleCoZnalazloDIV {
        left: 0px;
    }

    #allternatywaDIV {
        right: 0px;
    }


    #mainAlleCoImage {
        width: 300px;
        height: 100px;
    }

    #searchInputMy {
        border: 3px solid green;
        margin: auto;
        width: 95% !important;
        height: 40px;
    }

    #searchButton {
        border: 3px solid #2b2f49;
        margin: auto;
        width: 90% !important;
        height: 40px;
    }

    .nopadding {
        padding: 0 !important;
        margin: 0 !important;
    }

    .alleCenterImageDiv {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }

    .alleImage {
        height: 40px;
    }

    .hrBreakLine {
        border: 2px solid #f38148;
    }

    #alleCoZnalazloTopicDIV {
        height: 64px;
    }

    #allternatywaTopicDIV {
    }

    .akucjaAleCoZnalazloDescription {
    }

    .akucjaAleCoZnalazloImages{
           width: 84px;
           height: 84px;
    }

    .akucjaAllternatywaImages{
        width: 64px;
        height: 64px;
    }

    .akucjaAllternatywaDescription {
    }
</style>
<!-- Wyszukiwanie-->
<div class="row">
    <div class="col-lg-4" id="mainAlleCoImage">
        <img src="~/images/alternativesearch/u3.png" id="mainAlleCoImage" />
    </div>
    <div class="col-lg-6 .nopadding">
        <div style="padding-top:33px;">
            <input type="text" id="searchInputMy" class="form-control" placeholder="Szukasz...?">
        </div>
    </div>
    <div class="col-lg-2 .nopadding" style="padding-top:33px;">
        <button type="button" class="btn btn-default" id="searchButton">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
    </div>
</div>

<hr class="hrBreakLine" />
<div id="tagDiv" class="container">
    <div class="row" id="tagDivResult">

    </div>
</div>

<hr class="hrBreakLine" />
    <!-- Koniec Wyszukiwanie-->
    <!-- Nazwy gridów-->
    <div style="padding-top:5%">
        <div class="row">
            <div class="col-lg-8 alleCoZnalazloDIV">
                <div class="alleCenterImageDiv" id="alleCoZnalazloTopicDIV">
                    <img src="~/images/allternatywa/alecoznalazloExpanded.png" class="alleImage" id="imageAleCoZnalazlo" />
                </div>
            </div>
            <div class="col-lg-4 allternatywaDIV">
                <div class="alleCenterImageDiv" id="allternatywaTopicDIV">
                    <img src="~/images/allternatywa/aleternatywaCollapsed.png" class="alleImage" id="imageAllternatywa" />
                </div>
            </div>

        </div>
    </div>
    <!-- Koniec Nazwy gridów-->

    <!-- Aukcje-->
    <div class="row" style="padding-top:50px;">
        <div class="col-lg-8 alleCoZnalazloDIV">
            <div id="alleCoZnalazoloResultDIV">

            </div>
        </div>
        <div class="col-lg-4 allternatywaDIV" style="border-left:dashed">
            <div id="allternatywaResultDIV">

            </div>
        </div>

        
    </div>

    <!-- Koniec Aukcje-->

    @section scripts
            {
        <script>
            $(function () {
                $("#imageAleCoZnalazlo").click(function () {
                    hideAlleImages();
                    $(".akucjaAllternatywaDescription").fadeOut();
                    $(".akucjaAllternatywaName").fadeOut();

                    $("#imageAleCoZnalazlo").attr("src", "../images/allternatywa/alecoznalazloCollapsed.png");
                    $(".alleCoZnalazloDIV").animate({ width: '760px' }, 500);
                    $(".allternatywaDIV").animate({ width: '380px' }, 500);
                    $("#imageAllternatywa").attr("src", "../images/allternatywa/aleternatywaExpanded.png");

                    $(".akucjaAleCoZnalazloDescription").fadeIn();
                    $(".akucjaAleCoZnalazloName").fadeIn();
                    showAlleImages();
                });

                $("#imageAllternatywa").click(function () {
                    hideAlleImages();
                    $(".akucjaAleCoZnalazloDescription").fadeOut();
                    $(".akucjaAleCoZnalazloName").fadeOut();

                    $("#imageAllternatywa").attr("src", "../images/allternatywa/alejaknazwacCollapsed.png");
                    $(".alleCoZnalazloDIV").animate({ width: '380px' }, 500);
                    $(".allternatywaDIV").animate({ width: '760px' }, 500);
                    $("#imageAleCoZnalazlo").attr("src", "../images/allternatywa/alecoznalazloExpanded.png");

                    $(".akucjaAllternatywaDescription").fadeIn();
                    $(".akucjaAllternatywaName").fadeIn();
                    
                    showAlleImages();
                    $('#tagDiv').fadeIn();
                });

                $("#searchButton").click(function () {
                    hideAlleImages();
                    $("#tagDiv").fadeOut();
                    $(".akucjaAllternatywaDescription").fadeOut();
                    $(".akucjaAllternatywaName").fadeOut();

                    $(".alleCoZnalazloDIV").animate({ width: '760px' }, 500);
                    $(".allternatywaDIV").animate({ width: '380px' }, 500);

                    $(".akucjaAleCoZnalazloDescription").fadeIn();
                    $(".akucjaAleCoZnalazloName").fadeIn();
                    
                    showAlleImages();

                     searchOffers($('#searchInputMy').val());
                });

            })

            function hideAlleImages() {
                $("#alleCoZnalazloTopicDIV").fadeOut();
                $("#allternatywaTopicDIV").fadeOut();
            }

            function showAlleImages() {
                $("#alleCoZnalazloTopicDIV").fadeIn();
                $("#allternatywaTopicDIV").fadeIn();
            }

            //$(function () {
            //    $("#searchButton").click(function () {
                   
            //    });
            //});

            function searchOffers(title) {
                var url = "http://localhost:60235/api/search?";
                url = url + "title=null";
                url = url + "&phrase=" + title;
                // url = url + "&parameters;
                $.getJSON(url, function (data) {
                   
                    $("#alleCoZnalazoloResultDIV").html("");

                    $(data).each(function (iterator, value) {
                        $("#alleCoZnalazoloResultDIV").append('<div class="container"> <div class="row" style= "padding-top:5px;" > <div class="col-lg-7"> <div class="media"> <div class="media-left">  <a href="#"> <img class="media-object akucjaAleCoZnalazloImages" src=" ' + value.photoUrl + '" alt="...">  </a> </div> <div class="media-body"> <h4 class="media-heading akucjaAleCoZnalazloName">' + value.name + '</h4> <p class="akucjaAleCoZnalazloDescription"> Kup teraz ' + value.buyNowPrice + '</p>  </div>  </div>  </div>  </div> </div>')
                    });


                    $.getJSON("http://localhost:60235/api/search/GetFilterForOffer?id=" + data[0].id, function (data2) {                      
                         $("#tagDivResult").html("");

                         $(data2).each(function (iterator, value) {
                             if(value.values.length != 0)
                                 {
                                    console.log(value);
                                    $("#tagDivResult").append('<div class="col-lg-3"> <input class="tagAtrribute" name=' + value.values[0].value + ' onchange="changeTagValues();" type="checkbox" id="'+ value.values[0].key +  '" checked>' + value.name + '</input> </div>'  );
                                 }

               
                                });
                });
                        });
                changeTagValues();
                }


            function changeTagValues()
            {
                  var filters = [];
                $('.tagAtrribute:checked').each(function(i, obj) {
                    filters.push({ parameterName: obj.id, parameterValue: obj.name });
                       
                    });

                   filters.push({ parameterName: 'category.id', parameterValue: 165  });
                    JSON.stringify(filters);

                var allternativeUrl = "http://localhost:60235/api/search";
                  nt = "";
                
                 $($('#searchInputMy').val().split(" ")).each(function (i, v) {
                                        nt += i == 1 ? " " : "" + "-" + v;
                                   });                  


                allternativeUrl = allternativeUrl + "?parameters=" + JSON.stringify(filters);
                 $("#allternatywaResultDIV").html("");

                 $.getJSON(allternativeUrl, function (data3) {
                                        $(data3).each(function (iterator, value) {
                        $("#allternatywaResultDIV").append('<div class="container"> <div class="row" style= "padding-top:5px;" > <div class="col-lg-7"> <div class="media"> <div class="media-left">  <a href="#"> <img class="media-object akucjaAleCoZnalazloImages" src=" ' + value.photoUrl + '" alt="...">  </a> </div> <div class="media-body"> <h4 class="media-heading akucjaAllternatywaName">' + value.name + '</h4> <p class="akucjaAllternatywaDescription"> Kup teraz ' + value.buyNowPrice + '</p>  </div>  </div>  </div>  </div> </div>')
                    });
                                    });
                alert($(".allternatywaDIV").css("width"))
                 if($(".allternatywaDIV").css("width") < '650')
                     {
                       $(".akucjaAllternatywaDescription").fadeOut();
                        $(".akucjaAllternatywaName").fadeOut();
                    }
            }
                    </script>
                }
