<style>
    #mainAlleCoImage {
        width: 300px;
        height: 100px;
    }

    #searchInputMy {
        border: 3px solid green;
        margin: auto;
        width: 95% !important;
        height: 40px;
    }

    #searchButton {
        border: 3px solid #2b2f49;
        margin: auto;
        width: 90% !important;
        height: 40px;
    }

    .nopadding {
        padding: 0 !important;
        margin: 0 !important;
    }

    .alleCenterImageDiv {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }

    .alleImage {
        height: 30px;
        width: 170px;
    }

    .hrBreakLine {
        border: 2px solid #f38148;
    }
</style>

@{
    ViewBag.Title = "Alle Jak Nazwać?";
}

<div class="row">
    <div class="col-lg-4" id="mainAlleCoImage">
        <img src="~/images/alternativesearch/u3.png" id="mainAlleCoImage" />
    </div>
    <div class="col-lg-6 .nopadding">
        <div style="padding-top:33px;">
            <input type="text" id="searchInputMy" class="form-control" placeholder="Wystawisz...?">
        </div>
    </div>

    <div class="col-lg-2 .nopadding" style="padding-top:33px;">
        <button type="button" class="btn btn-default" id="searchButton">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-xs-12" style="font-weight:bold">Zakres cen:</div>
    <div id="range" class="col-md-8 col-xs-12"></div>
</div>

<hr class="hrBreakLine" />
<div class="row" style="text-align: center;">
    <img src="~/images/vizualization/alejaknazwacExpanded.png" class="alleImage" />
</div>

<div class="row" style="text-align: center; margin-top: 15px;" >
    <a name="graph-anchor" id="graph-anchor">Załaduj dane</a>
</div>

<div class="row">
    <div id="graph" style="text-align: center;"></div>
</div>


@section scripts
{
    <script src="https://d3js.org/d3.v3.min.js"></script>

    <script>
        $(document).ready(function () {
            var range = document.getElementById('range');

            range.style.width = '90%';
            range.style.margin = '0 auto 30px';

            noUiSlider.create(range, {
                start: [100, 500],
                margin: 100,
                limit: 1500,
                connect: true, // Display a colored bar between the handles
                direction: 'ltr', // Put '0' at the bottom of the slider
                orientation: 'horizontal', // Orient the slider vertically
                behaviour: 'tap-drag', // Move handle on tap, bar is draggable
                step: 100,
                tooltips: false,
                range: {
                    'min': 0,
                    'max': 3000
                },
                pips: { // Show a scale with the slider
                    mode: 'steps',
                    stepped: true,
                    density: 4
                }
            });

            $("#searchButton").click(function () {
                $("#graph").html("");

                var link = "http://localhost:60235/api/statistics";


                $.get(link, {
                    phrase: $("#searchInputMy").val(), pricefrom: range.noUiSlider.get()[0], priceto: range.noUiSlider.get()[1]
                })
                    .done(function (data) {
                        var diameter = 640,
                            color = d3.scale.category20b();

                        var bubble = d3.layout.pack()
                            .sort(null)
                            .size([diameter, diameter])
                            .padding(1.5);

                        var svg = d3.select("#graph")
                            .append("svg")
                            .attr("width", diameter)
                            .attr("height", diameter)
                            .attr("class", "bubble");

                        data = data.map(function (d) { d.value = +d["views"]; return d; });

                        var nodes = bubble.nodes({ children: data }).filter(function (d) { return !d.children; });

                        var bubbles = svg.append("g")
                            .attr("transform", "translate(0,0)")
                            .selectAll(".bubble")
                            .data(nodes)
                            .enter();

                        bubbles.append("circle")
                            .attr("r", function (d) { return d.r; })
                            .attr("cx", function (d) { return d.x; })
                            .attr("cy", function (d) { return d.y; })
                            .style("fill", function (d) { return color(d.value); });

                        bubbles.append("text")
                            .attr("x", function (d) { return d.x; })
                            .attr("y", function (d) { return d.y + 5; })
                            .attr("text-anchor", "middle")
                            .text(function (d) { return d["text"]; })
                            .style({
                                "fill": "white",
                                "font-family": "Helvetica Neue, Helvetica, Arial, san-serif",
                                "font-size": "12px"
                            });

                        window.location.href = "#graph-anchor";

                        $("#graph-anchor").text("");
                    })
                    .fail(function () {
                        alert("Wystąpił błąd");
                    });
            });
        });
    </script>
}



